.publications__inner {
    columns: 3;
    column-gap: 40px;
}

.publications__card {
    display: inline-block;
    width: 100%;
    background-color: var(--clr-white);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
}

.publications__img {
    display: block;
    width: calc(100% + 40px);
    max-width: none;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
}

.publications__card-heading {
    font-size: 18px;
    line-height: 21px;
    color: var(--clr-active-regular);
    margin-bottom: 10px;
}

.publications__date {
    display: block;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--clr-gray);
    margin-bottom: 20px;
}

.publications__descr {
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    color: var(--clr-black);
    border-top: solid 4px var(--clr-separator);
}

.more-btn {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: var(--clr-active-regular);
    box-shadow: 0px 0px 20px var(--clr-active-regular);
    border: none;
    border-radius: 12px;
    cursor: pointer;

    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: var(--clr-white);
}

.more-btn:hover {
    background-color: var(--clr-active-hover);
    box-shadow: none;
}

.more-btn:active {
    background-color: var(--clr-active);
}

@media screen and (max-width: 1024px) {
    .publications__inner {
        columns: 2;
    }
}

@media screen and (max-width: 640px) {
    .publications__inner {
        columns: 1;
    }

    .publications__card {
        margin-bottom: 20px;
    }

    .publications__date {
        margin-bottom: 0;
    }

    .publications__descr {
        display: none;
    }

}