body {
    color: var(--clr-white);
}

.link-arrow::after {
    content: '';
    border: solid;
    color: inherit;
    border-width: 0 2px 2px 0;
    position: absolute;
    transform: rotate(-45deg);
    right: -10px;
    top: calc(50% - 5px);
    padding: 2.5px;
}


/*-------------------------- Header ------------------------------------------------- */
.page-top {
    position: relative;
    background-image: linear-gradient(22deg, var(--clr-blue) 14.33%, var(--clr-blue) 51.39%, var(--clr-purple-alt) 87.53%);
}

.header__info {
    color: var(--clr-white);
}

.lang-switcher__item:hover {
    background-color: var(--clr-active-hover);
}

.header__facebook-link {
    fill: var(--clr-white);
}

.header__menu {
    color: var(--clr-white);
}


/*-------------------------- Hero ------------------------------------------------- */
.hero {
    background-image: url(../images/p-symbol.svg), url(../images/background-pattern.svg);
    background-repeat: no-repeat;
    background-position: top calc(50% + 62px) left calc(50% + 1px), top calc(50% + 2px) left calc(50% + 1px);
}

.hero__inner {
    display: flex;
    justify-content: center;
}

.hero__heading {
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    margin-top: 187px;
    margin-bottom: 355px;
    max-width: 500px;
}

.hero__shade {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-image: linear-gradient(180deg, transparent 16.67%, var(--clr-blue) 100%);   ;
}

.hero__scroll-down-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 21px);
    cursor: pointer;
}

.exp-and-services {
    background-image: linear-gradient(206deg, var(--clr-blue) 11.93%, var(--clr-blue) 57.17%, var(--clr-purple) 87.46%);;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px 0px 12px 12px;
}

.container-small {
    max-width: 1102px;
    padding: 0 20px;
    margin: 0 auto;
}

.exp {
    display: flex;
}

.exp__list {
    padding-right: 40px;
    border-right: 4px solid var(--clr-separator);
    text-align: right;
}

.exp__item + .exp__item {
    margin-top: 20px;
}

.exp__heading {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: var(--clr-gray);
    cursor: pointer;
}

.exp__heading:hover {
    background-image: linear-gradient(90.13deg, var(--clr-accent-alt) 0.84%, var(--clr-accent) 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp__heading--active {
    background-image: linear-gradient(90.13deg, var(--clr-accent-alt) 0.84%, var(--clr-accent) 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp__heading--active::after {
    content: '';
    border-right: 4px solid var(--clr-accent);
    height: 100%;
    position: absolute;
    right: -44px;
}

.exp__description {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exp__description-heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 20px;
}

.exp__description-text {
    font-size: 21px;
    line-height: 30px;
}

#exp-carousel {
    display: none;
}

/*-------------------------- Services ------------------------------------------------- */

.services {
    padding-top: 80px;
}

.section-heading {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.services__section-heading {
    display: inline-block;
    color: var(--clr-blue-soft);
}

.services__heading {
    margin-top: 3px;
    margin-bottom: 65px;
}

.services__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 58px;
}

.subheading {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--clr-active-regular);
}

.services__subheading {
    margin-top: 17px;
    margin-bottom: 15px;
}

.services__descr {
    font-size: 18px;
    line-height: 26px;
    color: var(--clr-white);
}

.shadow-bottom-1 {
    width: calc(100% - 40px);
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background: var(--clr-shadow-dark);
    border-radius: 0px 0px 12px 12px;
}

.shadow-bottom-2 {
    width: calc(100% - 80px);
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    background: var(--clr-shadow-light);
    border-radius: 0px 0px 12px 12px;
}

/*-------------------------- Team ------------------------------------------------- */

.team {
    padding-top: 40px;
    padding-bottom: 40px;
}

.team__card {
    display: flex;
    background-color: var(--clr-background);
    border-radius: 12px;
}

.team__img {
    border-radius: 12px 0px 0px 12px;
}

.team__content {
    padding: 40px
}

.team__section-heading {
    display: inline-block;
    color: var(--clr-active-regular);
}

.team__heading {
    margin-top: 3px;
    margin-bottom: 20px;
}

.team__img-mobile {
    display: none !important;
}

.team__name {
    font-size: 18px;
    line-height: 21px;
    color: var(--clr-gray);
    margin-bottom: 5px;
}

.team__position {
    font-size: 16px;
    line-height: 22px;
    color: var(--clr-gray);
}

/*-------------------------- Carousel Styles ------------------------------------------------- */

.owl-dots {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.owl-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--clr-active-regular) !important;
    opacity: 0.2;
}

.owl-dot + .owl-dot {
    margin-left: 14px;
}
  
.owl-dot:hover {
    opacity: 0.6;
}
  
.owl-dot.active:hover {
    opacity: 1;
}
  
.owl-dot.active {
    background-color: var(--clr-active-regular);
    opacity: 1;
}

.owl-dot.active:hover {
    background-color: var(--clr-active-regular);
    opacity: 1;
}

/*-------------------------- Cases ------------------------------------------------- */
  
.cases__inner {
    background-color: var(--clr-background);
    border-radius: 12px;
}

.cases__grid-top {
    display: grid;
    grid-template-columns: 33.56% 1fr 33.56%;
}

.cases__grid-bottom {
    display: grid;
    grid-template-columns: 24.24% 1fr 41.43%;
}

.cases__card {
    border: 1px solid var(--clr-white);
    padding: 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cases__section-heading {
    color: var(--clr-accent);
}

.cases__subheading {
    color: var(--clr-soft);
}

.cases__company {
    font-size: 18px;
    line-height: 26px;
    color: var(--clr-gray);
    margin-top: 20px;
}

/*-------------------------- Partners ------------------------------------------------- */

.partners {
    padding-top: 30px;
}

.partners__section-heading {
    text-align: center;
    margin-bottom: 30px;
    color: var(--clr-main);
}

.partners__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*-------------------------- Publications ------------------------------------------------- */

.publications {
    padding-top: 40px;
    background-color: var(--clr-background);
    height: 870px;
    position: relative;
    overflow-y: hidden;
}

.publications__section-heading {
    display: inline-block;
    color: var(--clr-active-regular);
}

.publications__heading {
    margin-top: 3px;
    margin-bottom: 40px;
}

.publications__shade {
    background-image: linear-gradient(180deg, transparent 0%, var(--clr-background) 86.5%);
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
}

.publications__more-btn {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 125px);
}

/*-------------------------- Footer ------------------------------------------------- */

.footer__inner {
    border-top: solid 4px var(--clr-separator);
}







